.main {
    height: 100vh;
    /* display:grid;
    grid-template-rows: 100vh;
    grid-template-columns: 50% 50%; */
    background: right 52.3vw bottom 40vh no-repeat url('../images/bg-pattern-top.svg'),
    51vw 50vh no-repeat url('../images/bg-pattern-bottom.svg'),
    hsl(185, 75%, 39%);
    display: flex;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    padding: 0 25px;
}

.title {
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.info {
    color: hsl(227, 10%, 46%);
    font-size: 14px;
}

.card {
    flex-basis: 350px;
    margin: auto;
    border-radius: 3%;
    background: no-repeat url('../images/bg-pattern-card.svg'),
    #ffffff;
    padding-top: 140px;
    position: relative;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card__image {
    border: #ffffff 5px solid;
    border-radius: 55%;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
}

.card__main-information {
    padding: 75px 0 30px;
    text-align: center;
    border-bottom: 0.5px hsl(0, 0%, 90%) solid;
}

.card__person-age {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.card__person-name {
    margin-bottom: 15px;
}

.card__statistics {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}

.card__statistics-element {
    text-align: center;
    flex-basis: 60px;
}

.card__statistics-element-header {
    margin-bottom: 10px;
}

.card__statistics-element-info {
    font-size: 12px;
    letter-spacing: 1px;
}